<!-- resume.form .component.html -->
<div class="profile-section">
    <h2>Profile</h2>
    <div class="profile-fields">
      <label for="name">Name:</label>
      <span id="name">John Doe</span>
      
      <label for="email">Email:</label>
      <span id="email">john.doe@example.com</span>
      
      <label for="phone">Phone:</label>
      <span id="phone">123-456-7890</span>
    </div>
  </div>
  
<app-education></app-education>
<app-experience></app-experience>
<app-projects></app-projects>
